body {
    font-family: arial;
    padding: 20px;
    padding-bottom: 80px;
}

h1 {
    color: red;
    border-bottom: 1px red solid;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

a {
    color: blue;
}

#btn_feedback {
    font-size: 17px;
    display: none;
    background: #EA532A;
    text-decoration: none;
    color: white;
    padding: 15px 0;
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    width: 100%;
}

textarea {
    color: blue;
    border: 1px blue solid;
    width: 900px;
    max-width: 90%;
}

#credits_box {
    border: 5px solid #fff1bd;
    border-left: 0;
    border-right: 0;
    background: #FFFCF1;
    padding: 20px;
}

#credits_box h2 {
    margin-top: 0;
}

#btn_ph {
    position: fixed;
    right: 10px;
    top: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}